// Application-level settings for the Runner target.
//
// This may be replaced with custom settings when building a release build.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = Kalimat

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = com.kalimat

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 com.kalimat. All rights reserved.
